.discount-content{
  background: url('https://img.freepik.com/free-vector/wave-with-shadow-abstract-blue-gradient-lines-background_1142-9133.jpg');
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-size: cover;
    width: 100%;
    
   
}
@media only screen and (max-width: 600px) {
    .discount-content{
      height: 550px;
    }
  }
@media only screen and (max-width: 400px) {
    .discount-content{
      height: 650px;
    }
  }

